

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
html, body {
    overflow-x: hidden;
    min-height: 100vh;
  }
img{
    max-width:100%;
    height:auto;
}
body{
    background-image: url('background.webp');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
/* first section heading style */
.header
{
    background:rgb(97, 42, 133);
}
.header-content {
    max-width:1100px;
    margin:0 auto;
    height:100%;
    margin-top:1rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0.4rem 2rem;
}
.logo{
    display:flex;
    align-items:center;  
    color:var(--text-color);
    font-weight:bold;
    gap:0.725rem;
    text-decoration:none;
}
.logo-icon{
    width:3.4rem;
    height:3.4rem;
    border-radius: 5rem;
}
.logo-text{
    font-size:2rem;
    color:#718096;
    text-shadow:2px 2px 2px #fff;
}
.nav{
    display:flex;
    gap:1.5rem;
}
.nav-link{
    color:#718096;
    font-size: 1.0rem;
    font-weight: 600;
    transform:color 0.1s;  
    /* text-shadow:2px 2px 1px #fff; */
    font-style:italic;
}
.nav-link:hover 
{
    color:var(--link-color);
}
/* section second home style */

#home-section{
    max-width:1100px;
    margin:0 auto;
    height:100%;
    padding:0.4rem 2rem;
}

.moving-heading
{    
    max-width:800px;
    margin:0 auto;
    text-align:center;
    background:rgb(97, 42, 133);
    font-size: 1rem;
    padding:0.8rem;
    border-radius: 5px; 
    margin-top:1rem;
}
.move-head 
{ 
    color:#649ff7;
    animation: example 4s linear 2s infinite alternate;
}
@keyframes example {
0%{
    transform:translateX(-15%);
}
100%{
   transform: translateX(15%);
}
}
.home-content{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap:2rem;
    margin-top:1.0rem;
   
}

.content-left{
  display:flex;
  flex-direction:column;
   justify-content:center; 
  /* align-items: center; */
  text-align:start;
  flex-wrap:wrap;  
}

.upper-content h2
{
    text-align: start;
    animation:example1 10s infinite;
}

.speciality{
    margin-top:1rem;
    text-align:center;
    animation:example1 15s infinite;
    border-radius:20px;
}

@keyframes example1 {
    0%{
        color:rgb(97, 42, 133);
    }
    32.5%{
        color:#649ff7;
    }
    62.5%{
        color:rgb(97, 42, 133);
    } 
    100%{
        color:#649ff7;
      }
}
.enthusiast{
    padding: 0.5rem;
    animation:example1 10s infinite;
}

h3{
    padding: 0.5rem 0px;
    color:#718096;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

.aboutme-description
{
    font-size: 1rem;
    margin-top:0.8rem;
    animation:example2 15s infinite;
}
@keyframes example2 {
    0%{
        color:#649ff7;
    }
    32.5%{
        color:rgb(97, 42, 133);
    }
    62.5%{
        color:#649ff7;
    } 
    100%{
        color:rgb(97, 42, 133);
      }
}

hr{
    width:50%;
  }
.image-container{
    border:none;
    border-radius:2rem;
    overflow:hidden;
    width:350px;
    margin :0 auto;
}
.section-image{
  opacity:60%;
  height:100%;
  border-radius:2rem;

}
.contact-info 
{
  list-style: none;
  color:#718096;
  font-size: 0.8rem;
  margin-top:1rem;
}

/* skills page css */

#skills-section {
    max-width:1100px;
    margin:0 auto;
    height:100%;
    padding:0.4rem 2rem;
    border-radius:2rem;
    margin-top:2rem;
}
.skills-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  /* padding: 16px; */
}
.card-content{
    border:3px solid #649ff7;
    border-radius:10px;
    background-color:#fff;
    padding: 0.8rem;
    /* height:100%;
    max-height:250px; */
}
.card-heading{
    padding:15px;
    text-align:start;
    color:rgb(97, 42, 133);
}
.card-content p{
    font-size: 0.8rem;
    margin-left:25px;
}

/* expereince page css */

#experience-section {
    max-width:1000px;
    margin:0 auto;
    height:100%;
    background-color: rgb(97, 42, 133);
    padding:1rem 2rem;
    border-radius:2rem;
    margin-top:2rem;
}
.experience-hedaing, .experience-subheading{
    padding:0.8rem;
    color:#649ff7;
    text-align:left;
    font-size:1.0rem;
}
.experience-content
{
    font-size: 0.8rem;
    font-weight: 600;
    color:#718096;     
}
ul li span{
    font-size: 1.0rem;
    color:#649ff7;
}

/* projects section css */
#projects-section{
    max-width:1100px;
    margin:0 auto;
    height:100%;
    background-color: rgb(97, 42, 133);
    padding:1rem 2rem;
    border-radius:2rem;
    margin-top:2rem;
}
.slider-container {
    position: relative;
    max-width:500px;
    height: 300px;
    margin:0 auto;
    overflow: hidden;
    border:2px solid #649ff7;
    border-radius: 10px;
    background-color: rgb(97, 42, 133);
    
  }
  
  .slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight:bold;
    background:rgba(0, 0, 0, 0.2);
  }
  
  /* Navigation Buttons */
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .prev { left: 10px; }
  .next { right: 10px; }
  
  .prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .slide active img{
    margin-top:2rem;
  }
  
 .slide active p,.slide p{
       text-align: center;
       font-size: 1rem;
 } 
.nameofprojects{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color:#649ff7;
    font-size: 1rem;
    margin:2rem;
    font-weight: 800;
}

/* education section css */
#education-section
{
    max-width:1100px;
    margin:0 auto;
    height:100%;
    background-color: rgb(97, 42, 133);
    padding:1rem 2rem;
    border-radius:2rem;
    margin-top:2rem;
}
.edu-tags
{
   color:#649ff7;
   font-weight: bold;
}

.education-detail{
  border-collapse: collapse;
  width: 100%;
  margin-top:0.8rem;
  color:#718096;
  }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight:bold;
 
}
tr{
    font-size: 0.8rem;
    font-weight: 600;
    
}
tr:nth-child(even) {
  background-color: #dddddd;
}


.dropdown{
    display:none;
}

@media (max-width:768px)
{
    .nav{
        display:none;       
    }
    .menu-icon {
        display:block;
    }
    .moving-heading{
        font-size:0.8rem;
        padding:0.8rem 4.5rem;
    }
    body{
    background-repeat:repeat;
    background-position:center center;
    }
    hr{
        max-width:250px;
        margin:0 auto;
    }
    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        right:0px;
        top:20px;
        background-color: rgb(97, 42, 133);
        min-width:100px;
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        font-size:0.8rem;
        color: rgba(0, 0, 0, 0.5);
        padding: 10px 20px;
        text-decoration:underline;
        display: block;
      }
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: rgb(97, 42, 133);}
}

 @media(max-width:430px)
{
    #home-section, .aboutme-description
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .aboutme-description
    {
        padding: 1.0rem 2.5rem;
        color:#718096 !important;
    }
    .upper-content h2, .contact-info
    {
        text-align: center;
    }
       .image-container{
        padding: 1.5rem 3rem;
    }
} 

